.top-wapper {
padding : 180px 0 200px 0;
background-image : url(image/fd401338.jpg);    
    background-size: cover;
    text-align: center;
}

.top h1 {
    font-size: 100px;
    color: green;
    opacity: 0.8;
    letter-spacing: 2px;
}

.top p {
    font-size: 40px;
}